stages:
  - lint
  - build
  - docker
  - deploy

# Use your EC2 runner
default:
  tags:
    - deploy
    - ec2
  interruptible: true
  retry:
    max: 1
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

variables:
  NODE_VERSION: "18"
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHA
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHA

# Run pipeline only on branches
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH

# ---------------- LINT ----------------
lint-frontend:
  stage: lint
  image: node:${NODE_VERSION}-alpine
  script:
    - cd frontend
    - npm ci
    - npm run lint

# ---------------- BUILD ----------------
build-backend:
  stage: build
  image: node:${NODE_VERSION}-alpine
  script:
    - cd backend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - backend/dist
    expire_in: 1h

build-frontend:
  stage: build
  image: node:${NODE_VERSION}-alpine
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1h

# ---------------- DOCKER PUSH ----------------
.docker_push_template:
  stage: docker
  image: docker:24
  services:
    - name: docker:24-dind
      alias: docker
      command: ["--tls=false"]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

push-backend:
  extends: .docker_push_template
  script:
    - docker build -t $BACKEND_IMAGE ./backend
    - docker push $BACKEND_IMAGE
  needs: ["build-backend"]

push-frontend:
  extends: .docker_push_template
  script:
    - docker build -t $FRONTEND_IMAGE ./frontend
    - docker push $FRONTEND_IMAGE
  needs: ["build-frontend"]

# ---------------- DEPLOY ----------------
deploy-staging:
  stage: deploy
  image: alpine
  script:
    - echo "Deploying to STAGING"
  environment:
    name: staging
    url: https://staging.crud-app.com
  needs:
    - push-backend
    - push-frontend
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'

deploy-production:
  stage: deploy
  image: alpine
  script:
    - echo "Deploying to PRODUCTION"
  environment:
    name: production
    url: https://crud-app.com
  needs:
    - push-backend
    - push-frontend
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
