stages:
  - lint
  - build

default:
  tags:
    - deploy
    - ec2
  interruptible: true
  retry:
    max: 1
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

variables:
  NODE_VERSION: "20"

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH

# ---------------- LINT ----------------
lint-frontend:
  stage: lint
  script:
    - node -v
    - cd frontend
    - npm ci
    - npm run lint || true

# ---------------- BUILD ----------------
build-backend:
  stage: build
  script:
    - node -v
    - cd backend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - backend/dist
    expire_in: 1h

build-frontend:
  stage: build
  script:
    - node -v
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1h
